body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}

.main {
    display: block;
    padding: 100px;
    text-align: center;
}

input[type=submit] {
    width: 10%;
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
 
input[type=reset] {
    width: 10%;
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

input[type=text], select {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }


h2 {
    text-align: center;
}  

h1 {
    text-align: center;
}

